<section class="property-binding">
    <article>
        <h3>Interpolation</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1+ 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1+ 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtiCurso() }}/</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
        <img  bind-src="urlImagem">
    </article>

</section>